:root {
  --clr-green-primary: #00833e;
  --clr-green-secondary: #00632b;
  --clr-green-dark: #00441a;
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.03em;
  line-height: 1.6;
  color: #000000;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

.section {
  padding: 8rem 4rem;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 5rem 2.4rem;
  }
}

.container {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
}

.heading-1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  color: #fff;
  margin-top: 12rem;
}

.heading-black {
  color: #000000;
  text-align: center;
  text-transform: none;
}

@media screen and (max-width: 768px) {
  .heading-1 {
    font-size: 4rem;
  }
}

.heading-2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.heading-3 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.paragraph a {
  color: var(--clr-green-primary);
  text-decoration: none;
  transition: all 0.3s;
}

/* Header */
.header {
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 2.4rem 4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
}

/* Sales block */
/* .header__discount {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-color: var(--clr-green-primary);
  color: white;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.header__container-main {
  padding-top: 2rem; 
}

.nav__mobile {
  top: 12rem;
} */

/* Sales block */

.logo {
  width: 7.9rem;
  height: 7.2rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 5.9rem;
    height: 5.2rem;
  }
}

/* ============================================ */

/* Navigation */
.nav__list {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .nav__list {
    display: none;
  }
}

.nav__link {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;
  cursor: pointer;
}

.nav__link:hover {
  color: var(--clr-green-primary);
}

.nav__dropdown-link {
  font-size: 1.6rem;
  text-transform: none;
}

.nav_dropdown-wrapper {
  position: relative;
  user-select: none;
}

.nav__dropdown {
  display: none;
  position: absolute;
  width: max-content;
  top: 8rem;
  left: 0;
  flex-direction: column;
  gap: 1.6rem;
  padding: 4.4rem;
  padding-top: 2rem;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.nav__dropdown--active {
  display: flex;
}

.nav__dropdown-btn::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.7rem;
  margin-bottom: 0.5rem;
  vertical-align: middle;
  border-top: 0.5rem solid;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
}

/* ============================================ */

/* Hamburger menu */
#nav-icon1 {
  display: none;
  align-items: center;
  width: 32px;
  height: 25px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 200;
}

@media screen and (max-width: 768px) {
  #nav-icon1 {
    display: flex;
  }
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 2.5px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 9px;
}

#nav-icon1 span:nth-child(3) {
  top: 18px;
}

#nav-icon1.open span:nth-child(1) {
  top: 9px;
  transform: rotate(150deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  right: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 9px;
  transform: rotate(-150deg);
}

.hamburger-menu {
  display: none;
}

/* ========================================= */

/* Navigation mobile */
.nav__mobile {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 10rem;
  right: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-color: #f2f2f2;
  font-size: 2.4rem;
  z-index: 100;
  padding: 2.4rem;
}

.nav__mobile.active {
  display: flex;
}

.nav__mobile-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.6rem;
  width: 100%;
}

.nav__mobile-link {
}

.nav__mobile-submenu {
  margin-top: 2rem;
  padding-left: 2.4rem;
}

.nav__mobile-submenu li {
  list-style-type: disc;
}

.nav__mobile-contacts {
  margin-top: 4rem;
}

/* =========================================== */

/* Hero */
.hero {
  background-color: #6b4646;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  padding: 0 2.4rem;
  position: relative;
}

.hero__container {
  z-index: 10;
}

.hero__heding {
  max-width: 90rem;
  font-size: 3.6rem;
}

.btn__cta {
  display: inline-flex;
  background-color: var(--clr-green-primary);
  color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 2.4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn__cta:hover {
  background-color: var(--clr-green-secondary);
}

.btn__cta:active {
  background-color: var(--clr-green-dark);
}

/* About */
.about {
  padding: 8rem 2.4rem;
  background-color: #f2f2f2;
  scroll-margin-top: 5rem;
}

.about__wrapper {
  display: grid;
  gap: 8rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 5rem;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  /* aspect-ratio: 16 / 9; */
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.4rem;
  font-size: 2.4rem;
}

@media screen and (max-width: 1024px) {
  .about__wrapper {
    gap: 4rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .about__img {
    aspect-ratio: 16 / 9;
  }
}

/* =============================================== */

/* Products */
.products {
  scroll-margin-top: 10rem;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8rem;
  margin-top: 5rem;
}

@media screen and (max-width: 768px) {
  .products__container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .products__container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.product__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.3s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.product__item:hover {
  transform: scale(1.05);
}

.product__item img {
  display: flex;
  object-fit: cover;
}

.product__item span {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  background-color: #00833e;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

/* ============================================== */

/* Products General */
.products__wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 4rem;
  margin-top: 10rem;
}

@media screen and (max-width: 1024px) {
  .products__wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 900px) {
  .products__wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .products__wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.products__detail-page {
  margin-top: 15rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8rem;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .products__detail-page {
    grid-template-columns: 1fr;
    margin-top: 5rem;
  }

  .products__detail-content {
    order: -1;
  }
}

.products__detail-content {
  display: flex;
}

.products__detail-descr {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 2rem;
}

.products__card {
  display: flex;
  flex-direction: column;
}

.products__content {
  cursor: pointer;
}

.products__title {
  margin-top: 2.4rem;
  font-size: 1rem;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.products__img {
  border: 1px solid rgb(176, 173, 173);
  object-fit: contain;
  aspect-ratio: 1 / 1.3;
  max-height: 60rem;
  max-width: 60rem;
  width: 100%;
}

.products__details {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.products__size {
  
}

.products__price {
  font-size: 2rem;
  font-weight: 700;
  gap: 1rem;
}

.products__price-discount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__price-discount-old {
  text-decoration: line-through;
  color: red;
  margin-right: 0.5rem;
}

.products__price-discount-new {
  color: var(--clr-green-primary);
}

.products__btn {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  background-color: var(--clr-green-primary);
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem 2rem;
}

.products__title-details {
  margin: 0;
  margin-bottom: 2.4rem;
}

.products__details-page {
  margin-top: 2rem;
}

.products__btn:hover {
  background-color: var(--clr-green-secondary);
}

.products__btn:active {
  background-color: var(--clr-green-dark);
}

/* ============================================== */
.youtube {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  margin-top: 2rem;
}

/* ============================================== */

/* Section Use */
.use__wrapper {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.use__item-1 {
  display: grid;
  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
  grid-template-columns: 2fr 1fr;
  gap: 8rem;
}

.use__item-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8rem;
}

.use__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.use__text {
  margin-top: 2.4rem;
}

@media (max-width: 1024px) {
  .use__item-1, .use__item-2 {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .use__img {
    aspect-ratio: 4 / 3;
    object-fit: contain;
    order: -1;
  }
}


/* Footer */
.footer {
  background-color: #f2f2f2;
  padding-bottom: 4rem;
  scroll-margin-top: 10rem;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.footer__title {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.footer__link {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  cursor: pointer;
}

.footer__link:hover {
  color: #00833e;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer__contact a,
.footer__catalog a {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.footer__contact a:hover, .footer__catalog a:hover {
  color: #00833e;
}

@media screen and (max-width: 1024px) {
  .footer__container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.links,
.socials,
.contacts,
.catalog {
  font-size: 2rem !important;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer__social,
.footer__catalog {
  display: flex;
  gap: 2.4rem;
}

.footer__social a {
  cursor: pointer;
}

.footer__social a:hover {
  transform: scale(1.3);
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  max-width: 128rem;
  margin: 0 auto;
  margin-top: 10rem;
}

.policy__wrapper {
  display: flex;
  gap: 5rem;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.copyright img {
  width: 7rem;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    flex-direction: column;
    align-items: center;
  }

  .copyright {
    order: 1;
  }

  .copyright img {
    width: 7rem;
    margin-left: -2.4rem;
  }
}
